In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure, BulkWriteError
import time
from pymongo.errors import DuplicateKeyError

## Data Loading

In [2]:
df = pd.read_excel("data/online_retail.xlsx")
print("dataset shape:", df.shape)

dataset shape: (541909, 8)

## preprocessing

In [3]:
df.dropna(subset=['CustomerID'], inplace=True)
df['CustomerID'] = df['CustomerID'].astype(int)
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]
df = df[df['Quantity'] > 0]
df = df[['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']]

unique_invoices = df['InvoiceNo'].unique()[:1000] # 1000 samples
df_subset = df[df['InvoiceNo'].isin(unique_invoices)].copy()

print("New data shape:", df_subset.shape)
df_subset.head()

New data shape: (19517, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

# Question 1

In [4]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(f"Successfully connected to SQLite db: {db_file}")
    except Error as e:
        print(e)
    return conn

db_file = 'online_retail.db'
conn = create_connection(db_file)
cursor = conn.cursor()

Successfully connected to SQLite db: online_retail.db

In [5]:
create_invoices_table = """
CREATE TABLE IF NOT EXISTS Invoices (
    InvoiceNo TEXT PRIMARY KEY,
    InvoiceDate TIMESTAMP NOT NULL,
    CustomerID INTEGER NOT NULL,
    Country TEXT NOT NULL
);
"""

create_products_table = """
CREATE TABLE IF NOT EXISTS Products (
    StockCode TEXT PRIMARY KEY,
    Description TEXT,
    UnitPrice REAL NOT NULL
);
"""

create_invoicedetails_table = """
CREATE TABLE IF NOT EXISTS InvoiceDetails (
    InvoiceNo TEXT NOT NULL,
    StockCode TEXT NOT NULL,
    Quantity INTEGER NOT NULL,
    PRIMARY KEY (InvoiceNo, StockCode),
    FOREIGN KEY (InvoiceNo) REFERENCES Invoices (InvoiceNo),
    FOREIGN KEY (StockCode) REFERENCES Products (StockCode)
);
"""

# Drop tables if exist
cursor.execute("DROP TABLE IF EXISTS InvoiceDetails;")
cursor.execute("DROP TABLE IF EXISTS Products;")
cursor.execute("DROP TABLE IF EXISTS Invoices;")


try:
    cursor.execute(create_invoices_table)
    cursor.execute(create_products_table)
    cursor.execute(create_invoicedetails_table)
    print("Tables created successfully (2NF schema).")
except Error as e:
    print(e)

Tables created successfully (2NF schema).

In [6]:
# Inserting Invoices
invoices_data = df_subset[['InvoiceNo', 'InvoiceDate', 'CustomerID', 'Country']].drop_duplicates()
invoices_data['InvoiceDate'] = invoices_data['InvoiceDate'].astype(str)   
cursor.executemany("""
    INSERT OR IGNORE INTO Invoices (InvoiceNo, InvoiceDate, CustomerID, Country)
    VALUES (?, ?, ?, ?);
""", invoices_data.values.tolist())

# Inserting Products
products_data = df_subset[['StockCode', 'Description', 'UnitPrice']].drop_duplicates()
cursor.executemany("""
    INSERT OR IGNORE INTO Products (StockCode, Description, UnitPrice)
    VALUES (?, ?, ?);
""", products_data.values.tolist())

# Inserting InvoiceDetails
invoice_details_data = df_subset[['InvoiceNo', 'StockCode', 'Quantity']]
cursor.executemany("""
    INSERT OR IGNORE INTO InvoiceDetails (InvoiceNo, StockCode, Quantity)
    VALUES (?, ?, ?);
""", invoice_details_data.values.tolist())


print("Data inserted successfully into 2NF schema database.")

Data inserted successfully into 2NF schema database.

In [7]:
query = """
SELECT
    i.InvoiceNo,i.InvoiceDate,i.CustomerID,i.Country,
    p.StockCode,p.Description,
    id.Quantity,p.UnitPrice
FROM Invoices i
JOIN InvoiceDetails id ON i.InvoiceNo = id.InvoiceNo
JOIN Products p ON id.StockCode = p.StockCode
LIMIT 10;
"""

verification_df = pd.read_sql_query(query, conn)
print("Verification Query Results:")
verification_df

Verification Query Results:

,InvoiceNo,InvoiceDate,CustomerID,Country,StockCode,Description,Quantity,UnitPrice
0,536365,2010-12-01 08:26:00,17850,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55
1,536365,2010-12-01 08:26:00,17850,United Kingdom,71053,WHITE METAL LANTERN,6,3.39
2,536365,2010-12-01 08:26:00,17850,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75
3,536365,2010-12-01 08:26:00,17850,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39
4,536365,2010-12-01 08:26:00,17850,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39
5,536365,2010-12-01 08:26:00,17850,United Kingdom,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65
6,536365,2010-12-01 08:26:00,17850,United Kingdom,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,4.25
7,536366,2010-12-01 08:28:00,17850,United Kingdom,22633,HAND WARMER UNION JACK,6,1.85
8,536366,2010-12-01 08:28:00,17850,United Kingdom,22632,HAND WARMER RED POLKA DOT,6,1.85
9,536367,2010-12-01 08:34:00,13047,United Kingdom,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69

In [8]:
# checking no. of customers
query = """
SELECT count(distinct CustomerID)
FROM Invoices i
"""

cust = pd.read_sql_query(query, conn)
print("no. of customers:")
cust

no. of customers:

   count(distinct CustomerID)
0                         699

# Question 2

In [9]:
MONGO_URI = "mongodb://localhost:27017/" 
DB_NAME = "online_retail_mongo"

client = None  

try:
    # MongoClient will manage a connection pool
    client = MongoClient(MONGO_URI, serverSelectionTimeoutMS=5000)
    client.admin.command('ismaster')
    print("MongoDB connection successful.")

    db = client[DB_NAME]

    db.transactions.drop()
    db.customers.drop()

except ConnectionFailure as e:
    print(f"Could not connect to MongoDB: {e}")
    # errorhandling
    client = None

MongoDB connection successful.

# Transaction-Centric Schema

In [10]:
transactions_collection = db.transactions

invoices_docs = []
for invoice_no, group in df_subset.groupby('InvoiceNo'):
    first_row = group.iloc[0]
    invoice_doc = {
        "_id": str(invoice_no),  # Use InvoiceNo as the doc ID
        "invoiceDate": first_row["InvoiceDate"].to_pydatetime(), 
        "customer": {
            "id": int(first_row["CustomerID"]),
            "country": first_row["Country"]
        },
        "items": []
    }

    # Adding items in this invoice
    for _, row in group.iterrows():
        invoice_doc["items"].append({
            "stockCode": row["StockCode"],
            "description": row["Description"],
            "quantity": int(row["Quantity"]),
            "unitPrice": float(row["UnitPrice"])
        })

    invoices_docs.append(invoice_doc)

try:
    if invoices_docs:
        result = transactions_collection.insert_many(invoices_docs)
        print(f"Inserted {len(result.inserted_ids)} documents into 'transactions' collection.")
        print("\n Sample Transaction Document : ")
        print(transactions_collection.find_one())
    else:
        print("No documents to insert into 'transactions'.")
except BulkWriteError as bwe:
    print(f"Bulk insert error: {bwe.details}")

Inserted 1000 documents into 'transactions' collection.

 Sample Transaction Document :
{'_id': '536365', 'invoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'customer': {'id': 17850, 'country': 'United Kingdom'}, 'items': [{'stockCode': '85123A', 'description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'quantity': 6, 'unitPrice': 2.55}, {'stockCode': 71053, 'description': 'WHITE METAL LANTERN', 'quantity': 6, 'unitPrice': 3.39}, {'stockCode': '84406B', 'description': 'CREAM CUPID HEARTS COAT HANGER', 'quantity': 8, 'unitPrice': 2.75}, {'stockCode': '84029G', 'description': 'KNITTED UNION FLAG HOT WATER BOTTLE', 'quantity': 6, 'unitPrice': 3.39}, {'stockCode': '84029E', 'description': 'RED WOOLLY HOTTIE WHITE HEART.', 'quantity': 6, 'unitPrice': 3.39}, {'stockCode': 22752, 'description': 'SET 7 BABUSHKA NESTING BOXES', 'quantity': 2, 'unitPrice': 7.65}, {'stockCode': 21730, 'description': 'GLASS STAR FROSTED T-LIGHT HOLDER', 'quantity': 6, 'unitPrice': 4.25}]}

# Customer-Centric Schema

In [11]:
customers_collection = db.customers

customer_docs = []
for customer_id, customer_group in df_subset.groupby('CustomerID'):
    first_row = customer_group.iloc[0]
    customer_doc = {
        "_id": int(customer_id),  # Use CustomerID as the doc ID
        "country": first_row["Country"],
        "invoices": []
    }

    for invoice_no, invoice_group in customer_group.groupby('InvoiceNo'):
        invoice_data = {
            "invoiceNo": str(invoice_no),
            "invoiceDate": invoice_group.iloc[0]["InvoiceDate"].to_pydatetime(),
            "items": []
        }

        for _, row in invoice_group.iterrows():
            invoice_data["items"].append({
                "stockCode": row["StockCode"],
                "description": row["Description"],
                "quantity": int(row["Quantity"]),
                "unitPrice": float(row["UnitPrice"])
            })

        customer_doc["invoices"].append(invoice_data)

    customer_docs.append(customer_doc)

try:
    if customer_docs:
        result = customers_collection.insert_many(customer_docs)
        print(f"Inserted {len(result.inserted_ids)} documents into 'customers' collection.")
        print("\n Sample Customer Document : ")
        print(customers_collection.find_one({"invoices.1": {"$exists": True}}))
    else:
        print("No documents to insert into 'customers'.")
except BulkWriteError as bwe:
    print(f"Bulk insert error: {bwe.details}")

Inserted 699 documents into 'customers' collection.

 Sample Customer Document :
{'_id': 12433, 'country': 'Norway', 'invoices': [{'invoiceNo': '536532', 'invoiceDate': datetime.datetime(2010, 12, 1, 13, 24), 'items': [{'stockCode': 84692, 'description': 'BOX OF 24 COCKTAIL PARASOLS', 'quantity': 50, 'unitPrice': 0.42}, {'stockCode': 22444, 'description': 'GROW YOUR OWN PLANT IN A CAN ', 'quantity': 96, 'unitPrice': 1.06}, {'stockCode': 22899, 'description': "CHILDREN'S APRON DOLLY GIRL ", 'quantity': 8, 'unitPrice': 2.1}, {'stockCode': 21156, 'description': 'RETROSPOT CHILDRENS APRON', 'quantity': 8, 'unitPrice': 1.95}, {'stockCode': 22556, 'description': 'PLASTERS IN TIN CIRCUS PARADE ', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22555, 'description': 'PLASTERS IN TIN STRONGMAN', 'quantity': 36, 'unitPrice': 1.65}, {'stockCode': 22554, 'description': 'PLASTERS IN TIN WOODLAND ANIMALS', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22553, 'description': 'PLASTERS IN TIN SKULLS', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22551, 'description': 'PLASTERS IN TIN SPACEBOY', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22547, 'description': 'MINI JIGSAW DINOSAUR ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22544, 'description': 'MINI JIGSAW SPACEBOY', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22543, 'description': 'MINI JIGSAW BAKE A CAKE ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22540, 'description': 'MINI JIGSAW CIRCUS PARADE ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22539, 'description': 'MINI JIGSAW DOLLY GIRL', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22534, 'description': 'MAGIC DRAWING SLATE SPACEBOY ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22530, 'description': 'MAGIC DRAWING SLATE DOLLY GIRL ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22531, 'description': 'MAGIC DRAWING SLATE CIRCUS PARADE  ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22561, 'description': 'WOODEN SCHOOL COLOURING SET', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22489, 'description': 'PACK OF 12 TRADITIONAL CRAYONS', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22814, 'description': 'CARD PARTY GAMES ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 21520, 'description': 'BOOZE & WOMEN GREETING CARD ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 21506, 'description': 'FANCY FONT BIRTHDAY CARD, ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 22716, 'description': 'CARD CIRCUS PARADE', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 22866, 'description': 'HAND WARMER SCOTTY DOG DESIGN', 'quantity': 12, 'unitPrice': 2.1}, {'stockCode': 22632, 'description': 'HAND WARMER RED RETROSPOT', 'quantity': 12, 'unitPrice': 2.1}, {'stockCode': 22865, 'description': 'HAND WARMER OWL DESIGN', 'quantity': 12, 'unitPrice': 2.1}, {'stockCode': 22114, 'description': 'HOT WATER BOTTLE TEA AND SYMPATHY', 'quantity': 8, 'unitPrice': 3.95}, {'stockCode': 21982, 'description': 'PACK OF 12 SUKI TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21981, 'description': 'PACK OF 12 WOODLAND TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21967, 'description': 'PACK OF 12 SKULL TISSUES', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22092, 'description': 'BLUE PAISLEY TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 21983, 'description': 'PACK OF 12 BLUE PAISLEY TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22615, 'description': 'PACK OF 12 CIRCUS PARADE TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21980, 'description': 'PACK OF 12 RED RETROSPOT TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22614, 'description': 'PACK OF 12 SPACEBOY TISSUES', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22095, 'description': 'LADS ONLY TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 22094, 'description': 'RED RETROSPOT TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 21984, 'description': 'PACK OF 12 PINK PAISLEY TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22557, 'description': 'PLASTERS IN TIN VINTAGE PAISLEY ', 'quantity': 36, 'unitPrice': 1.65}, {'stockCode': 21786, 'description': 'POLKADOT RAIN HAT ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 21080, 'description': 'SET/20 RED RETROSPOT PAPER NAPKINS ', 'quantity': 36, 'unitPrice': 0.85}, {'stockCode': 22963, 'description': 'JAM JAR WITH GREEN LID', 'quantity': 12, 'unitPrice': 0.85}, {'stockCode': 22962, 'description': 'JAM JAR WITH PINK LID', 'quantity': 12, 'unitPrice': 0.85}, {'stockCode': 22961, 'description': 'JAM MAKING SET PRINTED', 'quantity': 24, 'unitPrice': 1.45}, {'stockCode': 84375, 'description': 'SET OF 20 KIDS COOKIE CUTTERS', 'quantity': 24, 'unitPrice': 2.1}, {'stockCode': 22966, 'description': 'GINGERBREAD MAN COOKIE CUTTER', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21874, 'description': 'GIN AND TONIC MUG', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21873, 'description': "IF YOU CAN'T STAND THE HEAT MUG", 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21870, 'description': 'I CAN ONLY PLEASE ONE PERSON MUG', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 22956, 'description': '36 FOIL HEART CAKE CASES', 'quantity': 12, 'unitPrice': 2.1}, {'stockCode': 84050, 'description': 'PINK HEART SHAPE EGG FRYING PAN', 'quantity': 72, 'unitPrice': 1.25}, {'stockCode': 84991, 'description': '60 TEATIME FAIRY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 84992, 'description': '72 SWEETHEART FAIRY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21213, 'description': 'PACK OF 72 SKULL CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21977, 'description': 'PACK OF 60 PINK PAISLEY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21212, 'description': 'PACK OF 72 RETROSPOT CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 22198, 'description': 'LARGE POPCORN HOLDER ', 'quantity': 48, 'unitPrice': 1.65}, {'stockCode': 22197, 'description': 'SMALL POPCORN HOLDER', 'quantity': 72, 'unitPrice': 0.85}, {'stockCode': 22315, 'description': '200 RED + WHITE BENDY STRAWS', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 22667, 'description': 'RECIPE BOX RETROSPOT ', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22666, 'description': 'RECIPE BOX PANTRY YELLOW DESIGN', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22665, 'description': 'RECIPE BOX BLUE SKETCHBOOK DESIGN', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22558, 'description': 'CLOTHES PEGS RETROSPOT PACK 24 ', 'quantity': 24, 'unitPrice': 1.49}, {'stockCode': 22567, 'description': '20 DOLLY PEGS RETROSPOT', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 85150, 'description': 'LADIES & GENTLEMEN METAL SIGN', 'quantity': 12, 'unitPrice': 2.55}, {'stockCode': 21166, 'description': 'COOK WITH WINE METAL SIGN ', 'quantity': 12, 'unitPrice': 1.95}, {'stockCode': 85152, 'description': 'HAND OVER THE CHOCOLATE   SIGN ', 'quantity': 24, 'unitPrice': 2.1}, {'stockCode': 82600, 'description': 'NO SINGING METAL SIGN', 'quantity': 24, 'unitPrice': 2.1}, {'stockCode': 21733, 'description': 'RED HANGING HEART T-LIGHT HOLDER', 'quantity': 6, 'unitPrice': 2.95}, {'stockCode': 20685, 'description': 'DOORMAT RED RETROSPOT', 'quantity': 2, 'unitPrice': 7.95}, {'stockCode': 22842, 'description': 'BISCUIT TIN VINTAGE RED', 'quantity': 6, 'unitPrice': 6.75}, {'stockCode': 22494, 'description': 'EMERGENCY FIRST AID TIN ', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21260, 'description': 'FIRST AID TIN', 'quantity': 12, 'unitPrice': 3.25}]}, {'invoiceNo': '537868', 'invoiceDate': datetime.datetime(2010, 12, 8, 16, 49), 'items': [{'stockCode': 22534, 'description': 'MAGIC DRAWING SLATE SPACEBOY ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22530, 'description': 'MAGIC DRAWING SLATE DOLLY GIRL ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22531, 'description': 'MAGIC DRAWING SLATE CIRCUS PARADE  ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22561, 'description': 'WOODEN SCHOOL COLOURING SET', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22489, 'description': 'PACK OF 12 TRADITIONAL CRAYONS', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22814, 'description': 'CARD PARTY GAMES ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 21520, 'description': 'BOOZE & WOMEN GREETING CARD ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 21506, 'description': 'FANCY FONT BIRTHDAY CARD, ', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 22716, 'description': 'CARD CIRCUS PARADE', 'quantity': 12, 'unitPrice': 0.42}, {'stockCode': 22688, 'description': 'DOORMAT PEACE ON EARTH BLUE', 'quantity': 12, 'unitPrice': 6.75}, {'stockCode': 22114, 'description': 'HOT WATER BOTTLE TEA AND SYMPATHY', 'quantity': 8, 'unitPrice': 3.95}, {'stockCode': 21982, 'description': 'PACK OF 12 SUKI TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21981, 'description': 'PACK OF 12 WOODLAND TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21967, 'description': 'PACK OF 12 SKULL TISSUES', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22092, 'description': 'BLUE PAISLEY TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 21983, 'description': 'PACK OF 12 BLUE PAISLEY TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22615, 'description': 'PACK OF 12 CIRCUS PARADE TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 21980, 'description': 'PACK OF 12 RED RETROSPOT TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22614, 'description': 'PACK OF 12 SPACEBOY TISSUES', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22095, 'description': 'LADS ONLY TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 22094, 'description': 'RED RETROSPOT TISSUE BOX', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 21984, 'description': 'PACK OF 12 PINK PAISLEY TISSUES ', 'quantity': 48, 'unitPrice': 0.29}, {'stockCode': 22557, 'description': 'PLASTERS IN TIN VINTAGE PAISLEY ', 'quantity': 36, 'unitPrice': 1.65}, {'stockCode': 21786, 'description': 'POLKADOT RAIN HAT ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 21080, 'description': 'SET/20 RED RETROSPOT PAPER NAPKINS ', 'quantity': 36, 'unitPrice': 0.85}, {'stockCode': 22963, 'description': 'JAM JAR WITH GREEN LID', 'quantity': 12, 'unitPrice': 0.85}, {'stockCode': 22962, 'description': 'JAM JAR WITH PINK LID', 'quantity': 12, 'unitPrice': 0.85}, {'stockCode': 22961, 'description': 'JAM MAKING SET PRINTED', 'quantity': 24, 'unitPrice': 1.45}, {'stockCode': 84375, 'description': 'SET OF 20 KIDS COOKIE CUTTERS', 'quantity': 24, 'unitPrice': 2.1}, {'stockCode': 22966, 'description': 'GINGERBREAD MAN COOKIE CUTTER', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21874, 'description': 'GIN AND TONIC MUG', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21873, 'description': "IF YOU CAN'T STAND THE HEAT MUG", 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21870, 'description': 'I CAN ONLY PLEASE ONE PERSON MUG', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 22956, 'description': '36 FOIL HEART CAKE CASES', 'quantity': 12, 'unitPrice': 2.1}, {'stockCode': 84050, 'description': 'PINK HEART SHAPE EGG FRYING PAN', 'quantity': 72, 'unitPrice': 1.25}, {'stockCode': 84991, 'description': '60 TEATIME FAIRY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 84992, 'description': '72 SWEETHEART FAIRY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21213, 'description': 'PACK OF 72 SKULL CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21977, 'description': 'PACK OF 60 PINK PAISLEY CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 21212, 'description': 'PACK OF 72 RETROSPOT CAKE CASES', 'quantity': 24, 'unitPrice': 0.55}, {'stockCode': 22198, 'description': 'LARGE POPCORN HOLDER ', 'quantity': 50, 'unitPrice': 1.45}, {'stockCode': 22197, 'description': 'SMALL POPCORN HOLDER', 'quantity': 72, 'unitPrice': 0.85}, {'stockCode': 22315, 'description': '200 RED + WHITE BENDY STRAWS', 'quantity': 12, 'unitPrice': 1.25}, {'stockCode': 22667, 'description': 'RECIPE BOX RETROSPOT ', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22666, 'description': 'RECIPE BOX PANTRY YELLOW DESIGN', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22665, 'description': 'RECIPE BOX BLUE SKETCHBOOK DESIGN', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 22558, 'description': 'CLOTHES PEGS RETROSPOT PACK 24 ', 'quantity': 24, 'unitPrice': 1.49}, {'stockCode': 22567, 'description': '20 DOLLY PEGS RETROSPOT', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 85150, 'description': 'LADIES & GENTLEMEN METAL SIGN', 'quantity': 12, 'unitPrice': 2.55}, {'stockCode': 21166, 'description': 'COOK WITH WINE METAL SIGN ', 'quantity': 12, 'unitPrice': 1.95}, {'stockCode': 21733, 'description': 'RED HANGING HEART T-LIGHT HOLDER', 'quantity': 6, 'unitPrice': 2.95}, {'stockCode': 22690, 'description': 'DOORMAT HOME SWEET HOME BLUE ', 'quantity': 2, 'unitPrice': 7.95}, {'stockCode': 20685, 'description': 'DOORMAT RED RETROSPOT', 'quantity': 2, 'unitPrice': 7.95}, {'stockCode': 22842, 'description': 'BISCUIT TIN VINTAGE RED', 'quantity': 6, 'unitPrice': 6.75}, {'stockCode': 22494, 'description': 'EMERGENCY FIRST AID TIN ', 'quantity': 24, 'unitPrice': 1.25}, {'stockCode': 21260, 'description': 'FIRST AID TIN', 'quantity': 12, 'unitPrice': 3.25}, {'stockCode': 22626, 'description': 'BLACK KITCHEN SCALES', 'quantity': 2, 'unitPrice': 8.5}, {'stockCode': 22625, 'description': 'RED KITCHEN SCALES', 'quantity': 2, 'unitPrice': 8.5}, {'stockCode': 22624, 'description': 'IVORY KITCHEN SCALES', 'quantity': 2, 'unitPrice': 8.5}, {'stockCode': 22413, 'description': 'METAL SIGN TAKE IT OR LEAVE IT ', 'quantity': 12, 'unitPrice': 2.95}, {'stockCode': 82600, 'description': 'NO SINGING METAL SIGN', 'quantity': 24, 'unitPrice': 2.1}, {'stockCode': 84692, 'description': 'BOX OF 24 COCKTAIL PARASOLS', 'quantity': 50, 'unitPrice': 0.42}, {'stockCode': 22899, 'description': "CHILDREN'S APRON DOLLY GIRL ", 'quantity': 8, 'unitPrice': 2.1}, {'stockCode': 21156, 'description': 'RETROSPOT CHILDRENS APRON', 'quantity': 8, 'unitPrice': 1.95}, {'stockCode': 22556, 'description': 'PLASTERS IN TIN CIRCUS PARADE ', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22555, 'description': 'PLASTERS IN TIN STRONGMAN', 'quantity': 36, 'unitPrice': 1.65}, {'stockCode': 22554, 'description': 'PLASTERS IN TIN WOODLAND ANIMALS', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22553, 'description': 'PLASTERS IN TIN SKULLS', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22551, 'description': 'PLASTERS IN TIN SPACEBOY', 'quantity': 24, 'unitPrice': 1.65}, {'stockCode': 22547, 'description': 'MINI JIGSAW DINOSAUR ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22544, 'description': 'MINI JIGSAW SPACEBOY', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22543, 'description': 'MINI JIGSAW BAKE A CAKE ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22540, 'description': 'MINI JIGSAW CIRCUS PARADE ', 'quantity': 24, 'unitPrice': 0.42}, {'stockCode': 22539, 'description': 'MINI JIGSAW DOLLY GIRL', 'quantity': 24, 'unitPrice': 0.42}]}]}

In [12]:
# if client:
#     client.close()
#     print("MongoDB connection closed.")

# Question 3

In [13]:
# Create
def insert_transaction_invoice(invoice_doc):
    try:
        transactions_collection.insert_one(invoice_doc)
        # print(f"Inserted transaction invoice {invoice_doc['_id']}")
    except BulkWriteError as bwe:
        print(bwe.details)

# Read
def get_transaction_invoice(invoice_no):
    return transactions_collection.find_one({"_id": str(invoice_no)})

# Update 
def update_transaction_invoice(invoice_no):
    transactions_collection.update_one(
        {"_id": str(invoice_no)},
        {"$inc": {"items.0.quantity": 1}}
    )

# Delete
def delete_transaction_invoice(invoice_no):
    transactions_collection.delete_one({"_id": str(invoice_no)})

In [14]:
# Create 
def insert_customer_doc(customer_doc):
    try:
        customers_collection.insert_one(customer_doc)
        # print(f"Inserted customer {customer_doc['_id']}")
    except BulkWriteError as bwe:
        print(bwe.details)

# Read
def get_customer(customer_id):
    return customers_collection.find_one({"_id": int(customer_id)})

# Update 
def update_customer_invoice(customer_id):
    customers_collection.update_one(
        {"_id": int(customer_id)},
        {"$inc": {"invoices.0.items.0.quantity": 1}}
    )

# Delete
def delete_customer_invoice(customer_id):
    customers_collection.update_one(
        {"_id": int(customer_id)},
        {"$pull": {"invoices": {"invoiceNo": {"$exists": True}}}}
    )

In [15]:
# Transaction-Centric Sample 
sample_invoice = {
    "_id": "000000",  
    "invoiceDate": pd.to_datetime("2010-12-02 09:00:00").to_pydatetime(),
    "customer": {"id": 11111, "country": "India"},  
    "items": [
        {"stockCode": "MLOPS1", "description": "MLOPS Product A", "quantity": 10, "unitPrice": 50.0},
        {"stockCode": "MLOPS2", "description": "MLOPS Product B", "quantity": 5, "unitPrice": 100.0}
    ]
}

# Customer-Centric Sample 
sample_customer = {
    "_id": 11111,  
    "country": "India",
    "invoices": [
        {
            "invoiceNo": "000000",  
            "invoiceDate": pd.to_datetime("2010-12-02 09:00:00").to_pydatetime(),
            "items": [
                {"stockCode": "MLOPS1", "description": "MLOPS Product A", "quantity": 10, "unitPrice": 50.0},
                {"stockCode": "MLOPS2", "description": "MLOPS Product B", "quantity": 5, "unitPrice": 100.0}
            ]
        }
    ]
}

In [16]:
df_subset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [17]:
# Insert 
start = time.time()
try:
    transactions_collection.insert_one(sample_invoice)
except DuplicateKeyError:
    print("Transaction document already exists. Skipping insert.")
end = time.time()
transaction_insert_time = end - start

# Read 
start = time.time()
read_transaction = transactions_collection.find_one({"_id": "000000"})
end = time.time()
transaction_read_time = end - start

# Update (add quantity of first item by 1) 
start = time.time()
transactions_collection.update_one(
    {"_id": "000000"},
    {"$inc": {"items.0.quantity": 1}}
)
end = time.time()
transaction_update_time = end - start

# Delete 
start = time.time()
transactions_collection.delete_one({"_id": "000000"})
end = time.time()
transaction_delete_time = end - start

print("Transaction-Centric CRUD Timings (seconds):")
print(f"Insert: {transaction_insert_time:.6f}")
print(f"Read:   {transaction_read_time:.6f}")
print(f"Update: {transaction_update_time:.6f}")
print(f"Delete: {transaction_delete_time:.6f}")

Transaction-Centric CRUD Timings (seconds):
Insert: 0.001164
Read:   0.008563
Update: 0.000822
Delete: 0.000596

In [18]:
# Insert
start = time.time()
try:
    customers_collection.insert_one(sample_customer)
except DuplicateKeyError:
    print("Customer document already exists. Skipping insert.")
end = time.time()
customer_insert_time = end - start

# Read
start = time.time()
read_customer = customers_collection.find_one({"_id": 11111})
end = time.time()
customer_read_time = end - start

# Update (add quantity of first item in first invoice)
start = time.time()
customers_collection.update_one(
    {"_id": 11111},
    {"$inc": {"invoices.0.items.0.quantity": 1}}
)
end = time.time()
customer_update_time = end - start

# Delete (remove invoice from customer document)
start = time.time()
customers_collection.update_one(
    {"_id": 11111},
    {"$pull": {"invoices": {"invoiceNo": "000000"}}}
)
end = time.time()
customer_delete_time = end - start

print("\nCustomer-Centric CRUD Timings (seconds):")
print(f"Insert: {customer_insert_time:.6f}")
print(f"Read:   {customer_read_time:.6f}")
print(f"Update: {customer_update_time:.6f}")
print(f"Delete: {customer_delete_time:.6f}")

Customer-Centric CRUD Timings (seconds):
Insert: 0.000850
Read:   0.000808
Update: 0.000746
Delete: 0.000614

In [19]:
print("Transaction-Centric CRUD Timings (seconds):")
print(f"Insert: {transaction_insert_time:.6f}")
print(f"Read:   {transaction_read_time:.6f}")
print(f"Update: {transaction_update_time:.6f}")
print(f"Delete: {transaction_delete_time:.6f}")

print("\nCustomer-Centric CRUD Timings (seconds):")
print(f"Insert: {customer_insert_time:.6f}")
print(f"Read:   {customer_read_time:.6f}")
print(f"Update: {customer_update_time:.6f}")
print(f"Delete: {customer_delete_time:.6f}")

Transaction-Centric CRUD Timings (seconds):
Insert: 0.001164
Read:   0.008563
Update: 0.000822
Delete: 0.000596

Customer-Centric CRUD Timings (seconds):
Insert: 0.000850
Read:   0.000808
Update: 0.000746
Delete: 0.000614

In [20]:
#Transaction-Centric is better for invoice-specific operations and scales well for large numbers of invoices.

# Customer-Centric is better for retrieving or analyzing all invoices for a customer, 
# but updates/deletes for individual invoices are slightly slower.

# Performance differences are minimal for small datasets but may increase as data size grows, 
# especially for deeply nested customer-centric documents.

In [21]:
# client.close()
# print("MongoDB connection closed.")

# Question 4

In [ ]:
from pymongo import MongoClient
import pandas as pd

# Connect to MongoDB Atlas
MONGO_URI = "mongodb+srv://sairohith:mongodb@mlops.esjeocx.mongodb.net/online_retail?retryWrites=true&w=majority"
client = MongoClient(MONGO_URI, serverSelectionTimeoutMS=5000)
db = client.online_retail

transactions_collection = db.transactions
customers_collection = db.customers

# Drop existing collections 
transactions_collection.drop()
customers_collection.drop()
print("Dropped existing 'transactions' and 'customers' collections.")

# inserting Transaction-Centric documents
transactions_docs = []
for invoice_no, group in df_subset.groupby('InvoiceNo'):
    first_row = group.iloc[0]
    doc = {
        "_id": str(invoice_no),
        "invoiceDate": first_row['InvoiceDate'].to_pydatetime(),
        "customer": {
            "id": int(first_row['CustomerID']),
            "country": first_row['Country']
        },
        "items": []
    }
    for _, row in group.iterrows():
        doc['items'].append({
            "stockCode": row['StockCode'],
            "description": row['Description'],
            "quantity": int(row['Quantity']),
            "unitPrice": float(row['UnitPrice'])
        })
    transactions_docs.append(doc)

if transactions_docs:
    transactions_collection.insert_many(transactions_docs)
    print(f"Inserted {len(transactions_docs)} documents into transaction-centric collection.")

# inserting Customer-Centric documents
customer_docs = []
for cust_id, cust_group in df_subset.groupby('CustomerID'):
    first_row = cust_group.iloc[0]
    doc = {
        "_id": int(cust_id),
        "country": first_row['Country'],
        "invoices": []
    }
    for invoice_no, invoice_group in cust_group.groupby('InvoiceNo'):
        invoice_doc = {
            "invoiceNo": str(invoice_no),
            "invoiceDate": invoice_group.iloc[0]['InvoiceDate'].to_pydatetime(),
            "items": []
        }
        for _, row in invoice_group.iterrows():
            invoice_doc['items'].append({
                "stockCode": row['StockCode'],
                "description": row['Description'],
                "quantity": int(row['Quantity']),
                "unitPrice": float(row['UnitPrice'])
            })
        doc['invoices'].append(invoice_doc)
    customer_docs.append(doc)

if customer_docs:
    customers_collection.insert_many(customer_docs)
    print(f"Inserted {len(customer_docs)} documents into customer-centric collection.")

client.close()

Dropped existing 'transactions' and 'customers' collections.
Inserted 1000 documents into transaction-centric collection.
Inserted 699 documents into customer-centric collection.
MongoDB Atlas connection closed.